@model Recruitment.API.ViewModels.UserTypeViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h4><a asp-action="Index">Atpakaļ pie visiem lietotājiem</a></h4>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <h4><a asp-action="Edit" asp-route-id="@Model.Id">Labot informāciju</a></h4>
        </div>
    </div>
    <div class="row">
        <h2 class="text-center">@Model.FirstName, @Model.LastName</h2>
    </div>
    <hr />

    <div class="row">
        <label asp-for="FirstName" class="col-md-offset-1 col-md-3">@Html.DisplayNameFor(model => model.FirstName):</label>
        <div class="col-md-3">@Html.DisplayFor(model => model.FirstName)</div>
    </div>
    <div class="row">
        <label asp-for="LastName" class="col-md-offset-1 col-md-3">@Html.DisplayNameFor(model => model.LastName):</label>
        <div class="col-md-3">@Html.DisplayFor(model => model.LastName)</div>
    </div>
    <div class="row">
        <label asp-for="Email" class="col-md-offset-1 col-md-3">@Html.DisplayNameFor(model => model.Email):</label>
        <div class="col-md-3">@Html.DisplayFor(model => model.Email)</div>
    </div>
    <div class="row">
        <label asp-for="Role" class="col-md-offset-1 col-md-3">@Html.DisplayNameFor(model => model.Role):</label>
        <div class="col-md-3">@Html.DisplayFor(model => model.Role)</div>
    </div>
</div>