@using Recruitment.API.Enums
@model Recruitment.API.ViewModels.CandidateViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h4><a asp-action="Index">Atpakaļ pie visiem kandidātiem</a></h4>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <h4><a asp-action="Edit" asp-route-id="@Model.Id">Labot informāciju</a></h4>
        </div>
    </div>
    <div class="row">
        <h2 class="text-center">@Model.Name @Model.Surname</h2>
    </div>
    <hr />

    <div class="row">
        <label asp-for="PhoneNumber" class="col-md-offset-1 col-md-3">@Html.DisplayNameFor(model => model.PhoneNumber):</label>
        <div class="col-md-3">@Html.DisplayFor(model => model.PhoneNumber)</div>
    </div>
    <div class="row">
        <label asp-for="Email" class="col-md-offset-1 col-md-3">@Html.DisplayNameFor(model => model.Email):</label>
        <div class="col-md-3">@Html.DisplayFor(model => model.Email)</div>
    </div>
    <div class="row">
        <label asp-for="Vacancy" class="col-md-offset-1 col-md-3">@Html.DisplayNameFor(model => model.Vacancy.Name):</label>
        <div class="col-md-3">@Html.DisplayFor(model => model.Vacancy.Name)</div>
    </div>
    <div class="row">
        <label asp-for="Status" class="col-md-offset-1 col-md-3">@Html.DisplayNameFor(model => model.Status):</label>
        <div class="col-md-3">@Html.DisplayFor(model => model.Status.Name)</div>
    </div>
    <div class="row">
        <label asp-for="Test" class="col-md-offset-1 col-md-3">@Html.DisplayNameFor(model => model.Test):</label>
        <div class="col-md-3">@Html.DisplayFor(model => model.Test.Name)</div>
    </div>
    <div class="row">
        <label asp-for="RegistrationDate" class="col-md-offset-1 col-md-3">@Html.DisplayNameFor(model => model.RegistrationDate):</label>
        <div class="col-md-3">@Html.DisplayFor(model => model.RegistrationDate)</div>
    </div>

    <p class="col-md-offset-1">Prasības:</p>
    <br />
    <p class="col-md-offset-1">Izglītība</p>
    <hr />
    @foreach (var item in Model.Skills.Where(os => os.SkillTypeId == (int)SkillTypeEnum.Izglitiba))
    {

        <div class="row col-md-offset-4">
            <p>@item.Value</p>
        </div>
    }
    <p class="col-md-offset-1">Prasmes:</p>
    <hr />
    @foreach (var item in Model.Skills.Where(os => os.SkillTypeId == (int)SkillTypeEnum.Prasme))
    {
        <div class="row col-md-offset-4">
            <p>@item.Value</p>
        </div>
    }
    <p class="col-md-offset-1">Darba pieredze:</p>
    <hr />
    @foreach (var item in Model.Skills.Where(os => os.SkillTypeId == (int)SkillTypeEnum.DarbaPieredze))
    {
        <div class="row col-md-offset-4">
            <p>@item.Value</p>
        </div>
    }
</div>
