@using Recruitment.API.Enums
@model Recruitment.API.ViewModels.CandidateViewModel


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h4><a asp-action="Index">Atpakaļ pie visiem kandidātiem</a></h4>
        </div>
    </div>
    <div class="row">
        <h2 class="text-center">@Model.Name @Model.Surname</h2>
    </div>
    <hr />

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="form-group row">
            <label asp-for="Name" class="col-md-offset-1 col-md-3 col-form-label"></label>
            <div class="col-md-3">
                <input asp-for="Name" class="form-control" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="Surname" class="col-md-offset-1 col-md-3 col-form-label"></label>
            <div class="col-md-3">
                <input asp-for="Surname" class="form-control" />
            </div>
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="PhoneNumber" class="col-md-offset-1 col-md-3 col-form-label"></label>
            <div class="col-md-3">
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="Email" class="col-md-offset-1 col-md-3 col-form-label"></label>
            <div class="col-md-3">
                <input asp-for="Email" class="form-control" />
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="VacancyId" class="col-md-offset-1 col-md-3 col-form-label"></label>
            <div class="col-md-3">
                <select asp-for="VacancyId" class="form-control" asp-items="ViewBag.VacancyName"></select>
            </div>
            <span asp-validation-for="VacancyId" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="StatusId" class="col-md-offset-1 col-md-3 col-form-label"></label>
            <div class="col-md-3">
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusName"></select>
            </div>
            <span asp-validation-for="StatusId" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="TestId" class="col-md-offset-1 col-md-3 col-form-label"></label>
            <div class="col-md-3">
                <input asp-for="TestId" class="form-control" />
            </div>
            <span asp-validation-for="TestId" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <label asp-for="RegistrationDate" class="col-md-offset-1 col-md-3 col-form-label"></label>
            <div class="col-md-3">
                <input asp-for="RegistrationDate" class="form-control" />
            </div>
            <span asp-validation-for="RegistrationDate" class="text-danger"></span>
        </div>

        <p class="col-md-offset-1">Prasības:</p>
        <br />
        <p class="col-md-offset-1">Izglītība</p>
        <hr />


        @for (int i = 0; i < Model.Skills.Count(); i++)
        {
            if (Model.Skills[i].SkillTypeId != (int)SkillTypeEnum.Izglitiba)
            {
                continue;
            }
            <div class="form-group row">
                <input type="hidden" asp-for="@Model.Skills[i].Id" />
                <input type="hidden" asp-for="@Model.Skills[i].SkillTypeId" />
                <div class="col-md-3 col-md-offset-4">
                    <input asp-for="@Model.Skills[i].Value" class="form-control" />
                </div>
                <span asp-validation-for="Skills[i].Value" class="text-danger"></span>
            </div>
        }
        <br />
        <p class="col-md-offset-1">Prasmes</p>
        <hr />


        @for (int i = 0; i < Model.Skills.Count(); i++)
        {
            if (Model.Skills[i].SkillTypeId != (int)SkillTypeEnum.Prasme)
            {
                continue;
            }
            <div class="form-group row">
                <input type="hidden" asp-for="@Model.Skills[i].Id" />
                <input type="hidden" asp-for="@Model.Skills[i].SkillTypeId" />
                <div class="col-md-3 col-md-offset-4">
                    <input asp-for="@Model.Skills[i].Value" class="form-control" />
                </div>
                <span asp-validation-for="Skills[i].Value" class="text-danger"></span>
            </div>
        }
        <br />
        <p class="col-md-offset-1">Darba pieredze</p>
        <hr />


        @for (int i = 0; i < Model.Skills.Count(); i++)
        {
            if (Model.Skills[i].SkillTypeId != (int)SkillTypeEnum.DarbaPieredze)
            {
                continue;
            }
            <div class="form-group row">
                <input type="hidden" asp-for="@Model.Skills[i].Id" />
                <input type="hidden" asp-for="@Model.Skills[i].SkillTypeId" />
                <div class="col-md-3 col-md-offset-4">
                    <input asp-for="@Model.Skills[i].Value" class="form-control" />
                </div>
                <span asp-validation-for="Skills[i].Value" class="text-danger"></span>
            </div>
        }

        <div class="row">
            <input type="submit" value="Saglabāt" class="btn btn-info pull-right" />
        </div>
    </form>
    <div class="row">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Dzēst" class="btn btn-danger pull-right" />
        </form>
    </div>
</div>

