@using Recruitment.API.Enums
@model IEnumerable<Recruitment.API.Models.Candidate>

@{
    ViewData["Title"] = "ToDoView";
}

<div class="row">
    <h2 class="text-center">Veicamie darbi</h2>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Tikko pieteicies
            </th>
            <th>
                Pirmā atlases kārta
            </th>
            <th>
                Plānota intervija
            </th>
            <th>
                Otrā atlases kārta
            </th>
            <th>
                Apstiprināts/noraidīts
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Status.Id == (int)StatusEnum.TikkoPieteicies)
                    {
                        <div class="card" style="border:solid 1px #F5F5DC;border-radius: 25px;">
                            <div class="card-body text-center">
                                <h5 class="card-title">@item.Name @item.Surname</h5>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success ">Skatīt</a>
                            </div>
                        </div>
                    }
                </td>
                <td>
                    @if (item.Status.Id == (int)StatusEnum.PirmaAtlasesKarta)
                    {
                        <div class="card" style="border:solid 1px #F5F5DC;border-radius: 25px;">
                            <div class="card-body text-center">
                                <h5 class="card-title">@item.Name @item.Surname</h5>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success ">Skatīt</a>
                            </div>
                        </div>
                    }
                </td>
                <td>
                    @if (item.Status.Id == (int)StatusEnum.PlanotaIntervija)
                    {
                        <div class="card" style="border:solid 1px #F5F5DC;border-radius: 25px;">
                            <div class="card-body text-center">
                                <h5 class="card-title">@item.Name @item.Surname</h5>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success ">Skatīt</a>
                            </div>
                        </div>
                    }
                </td>
                <td>
                    @if (item.Status.Id == (int)StatusEnum.OtraAtlasesKarta)
                    {
                        <div class="card" style="border:solid 1px #F5F5DC;border-radius: 25px;">
                            <div class="card-body text-center">
                                <h5 class="card-title">@item.Name @item.Surname</h5>
                                <a asp-action="Details" asp-route-id="@item.Id"  class="btn btn-success ">Skatīt</a>
                            </div>
                        </div>
                    }
                </td>
                <td>
                    @if (item.Status.Id == (int)StatusEnum.Apstiprinats || item.Status.Id == (int)StatusEnum.Noraidits)
                    {
                        <div class="card" style="border:solid 1px #F5F5DC;border-radius: 25px;">
                            <div class="card-body text-center">
                                <h5 class="card-title">@item.Name @item.Surname</h5>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success ">Skatīt</a>
                            </div>
                        </div>
                    }
                </td>
            </tr>

        }
    </tbody>
</table>