@using Recruitment.API.Enums 
@model Recruitment.API.Models.VacancyViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h4><a asp-action="Index">Atpakaļ pie atvērtajām vakancēm</a></h4>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <h4><a asp-action="Edit" asp-route-id="@Model.Id">Labot informāciju</a></h4>
        </div>
    </div>
    <div class="row">
        <h2 class="text-center">@Html.DisplayFor(model => model.Name)</h2>
    </div>
    <hr />

    <div class="row">
        <label asp-for="OpeningDate" class="col-md-offset-1 col-md-3">@Html.DisplayNameFor(model => model.OpeningDate):</label>
        <div class="col-md-3">@Html.DisplayFor(model => model.OpeningDate)</div>
    </div>
    <div class="row">
        <label asp-for="ClosingDate" class="col-md-offset-1 col-md-3">@Html.DisplayNameFor(model => model.ClosingDate):</label>
        <div class="col-md-3">@Html.DisplayFor(model => model.ClosingDate)</div>
    </div>
    <div class="row">
        <label asp-for="ClosingDate" class="col-md-offset-1 col-md-3">@Html.DisplayNameFor(model => model.CandidateCount):</label>
        <div class="col-md-3">@Html.DisplayFor(model => model.CandidateCount)</div>
    </div>

    <p class="col-md-offset-1">Prasības:</p>
    <br />
    <p class="col-md-offset-1">Izglītība</p>
    <hr />
    @foreach (var item in Model.Skills.Where(os => os.SkillTypeId == (int)SkillTypeEnum.Izglitiba))
    {

        <div class="row col-md-offset-4">
            <p>@item.Value</p>
        </div>
    }
    <p class="col-md-offset-1">Prasmes:</p>
    <hr />
    @foreach (var item in Model.Skills.Where(os => os.SkillTypeId == (int)SkillTypeEnum.Prasme))
    {
        <div class="row col-md-offset-4">
            <p>@item.Value</p>
        </div>
    }
    <p class="col-md-offset-1">Darba pieredze:</p>
    <hr />
    @foreach (var item in Model.Skills.Where(os => os.SkillTypeId == (int)SkillTypeEnum.DarbaPieredze))
    {
        <div class="row col-md-offset-4">
            <p>@item.Value</p>
        </div>
    }
</div>
