@model Recruitment.API.Models.Vacancy

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h4><a asp-action="Index">Atpakaļ pie atvērtajām vakancēm</a></h4>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <h4><a asp-action="Edit" asp-route-id="@Model.Id">Labot informāciju</a></h4>
        </div>
    </div>
    <div class="row">
        <h2 class="text-center">@Html.DisplayFor(model => model.Name)</h2>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-offset-1 col-md-3">@Html.DisplayNameFor(model => model.OpeningDate):</div>
        <div class="col-md-3">@Html.DisplayFor(model => model.OpeningDate)</div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-3">@Html.DisplayNameFor(model => model.ClosingDate):</div>
        <div class="col-md-3">@Html.DisplayFor(model => model.ClosingDate)</div>
    </div>
</div>
